DATABASE_URL=postgresql://postgres:postgres@host.docker.internal:54322/postgres

SUPABASE_URL=http://host.docker.internal:54321
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_PUBLISHABLE_KEY=${SUPABASE_PUBLISHABLE_KEY}

OPENAI_API_KEY=

COHERE_API_KEY=
TAVILY_API_KEY=

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=https://jp.cloud.langfuse.com
